<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title th:text="#{siteName}"></title>

    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="create-course-page">

<header class="blog-header text-center" th:if="${!#authorization.expression('hasAuthority(''ADMIN'')')}">
    <div class="tab text-center">
        <a th:href="@{/course/all}" th:text="#{catalogTab}"></a>
    </div>
    <div class="tab text-center">
        <a th:href="@{/course/purchased}" th:text="#{purchasedCoursesTab}"></a>
    </div>
    <div class="tab text-center">
        <a th:href="@{/course/createdCourses}" th:text="#{myCoursesTab}"></a>
    </div>
    <div class="login-or-logout-wrapper text-center">
        <a th:href="@{/logout}" th:text="#{logoutTab}" sec:authorize="isAuthenticated()"></a>
        <a th:href="@{/login}" th:text="#{loginTab}" sec:authorize="isAnonymous()"></a>
    </div>
</header>

<header class="blog-header text-center" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
    <div class="tab text-center">
        <a th:href="@{/course/all}" th:text="#{catalogTab}"></a>
    </div>
    <div class="tab text-center">
        <a th:href="@{/course/users}" th:text="#{usersTab}"></a>
    </div>
    <div class="login-or-logout-wrapper text-center">
        <a th:href="@{/logout}" th:text="#{logoutTab}"></a>
    </div>
</header>

    <div class="container">
        <form th:action="@{/course/new}" method="post" th:object="${course}"
              class="card-body create-course-form p-lg-4" novalidate id="create-course-form">
            <div class="row">
                <div class="col-md-6 offset-md-3">

                    <div class="text-center">
                        <button type="button" class="btn language-button" th:text="#{english}" id="englishLanguageButton"></button>
                        <button type="button" class="btn language-button" th:text="#{ukrainian}" id="ukrainianLanguageButton"></button>
                    </div>

                    <h2 class="text-center text-dark mt-5" th:text="#{createCoursePageName}"></h2><br>

                    <p class="error-message text-center" th:if="${#request.getAttribute('courseBaseInfoIsEmptyError')}" th:text="#{courseBaseInfoIsEmptyError}"></p>

                    <div class="mb-2">
                        <label for="username" th:text="#{courseName}"></label>
                        <input type="text" class="form-control" th:field="*{name}" id="username"/>
                        <p class="error-message" th:if="${#fields.hasErrors('name')}" th:text="#{courseNameIsEmptyError}"></p>
                    </div>

                    <div class="mb-4">
                        <label for="description" th:text="#{courseDescription}"></label>
                        <textarea class="form-control" th:field="*{description}" id="description"></textarea>
                    </div>

                    <div class="mb-2">
                        <select class="form-select" th:field="*{category}">
                            <option th:value="${null}" th:text="#{selectedOption}" selected></option>
                            <option th:value="math" th:text="#{math}"></option>
                            <option th:value="physics" th:text="#{physics}"></option>
                            <option th:value="music" th:text="#{music}"></option>
                            <option th:value="programming" th:text="#{programming}"></option>
                            <option th:value="law" th:text="#{law}"></option>
                            <option th:value="other" th:text="#{other}"></option>
                        </select>
                        <p class="error-message" th:if="${#fields.hasErrors('category')}" th:text="#{courseCategoryIsEmptyError}"></p>
                    </div>

                    <div class="mb-2">
                        <label for="price" th:text="#{coursePrice}"></label>
                        <input type="text" class="form-control" th:field="*{price}" id="price"/>
                        <p class="error-message" th:if="${#fields.hasErrors('price')}" th:text="#{incorrectCoursePrice}"></p>
                    </div>

                    <div class="mb-3 text-center">
                        <p th:text="#{courseLanguage}"></p>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" th:field="*{language}" value="english" id="enRadio">
                            <label class="form-check-label" for="enRadio">English</label>
                        </div>
                        <div class="form-check form-check-inline mb-2">
                            <input class="form-check-input" type="radio" th:field="*{language}" value="ukrainian" id="ukrRadio">
                            <label class="form-check-label" for="ukrRadio">Ukrainian</label>
                        </div>

                        <p class="error-message" th:if="${#fields.hasErrors('language')}" th:text="#{courseLanguageIsEmpty}"></p>
                    </div>

                </div>
            </div>

            <div class="text-center mb-5">
                <button type="submit" class="btn" th:text="#{continueButton}"></button>
            </div>

        </form>
    </div>

    <footer class="page-footer">
        <div class="footer-copyright text-center text-success">
            Copyright © 2022
            <a href="https://www.instagram.com/oleh_chui">Chui Oleh</a>
        </div>
    </footer>

    <script type="text/javascript" th:src="@{/js/changeLanguage.js}"></script>
</body>
</html>
