/*******   LOGIN PAGE   ********/
/*******************************/

body.login-page .login-form input.btn {
    background: #8cc3ff;
}

body.login-page .login-form input.btn:hover {
    background: dodgerblue;
}

body.login-page .error-message {
    color: red;
    font-weight: bold;
}

body.login-page .sign-up-link {
    text-decoration: none;
    font-weight: bold;
    color: lightskyblue;
    font-style: italic;
}

/*******   REGISTRATION PAGE   ********/
/**************************************/

body.registration-page .registration-form input.btn {
    background: #8cc3ff;
}

body.registration-page .registration-form input.btn:hover {
    background: dodgerblue;
}

body.registration-page .error-message {
    color: red;
    font-weight: bold;
}

body.registration-page .login-link {
    text-decoration: none;
    font-weight: bold;
    color: lightskyblue;
    font-style: italic;
}