/*******   GENERAL STYLE   ********/
/*******************************/
button.btn {
    background: #8cc3ff;
}

button.btn:hover {
    background: dodgerblue;
}

button.delete-button {
    background: #ff4646;
}

button.delete-button:hover {
    background: red;
}

.error-message {
    color: red;
    font-weight: bold;
}

a.previous-page {
    background: #8cc3ff;
}

a.previous-page:hover {
    background: dodgerblue;
}

/*******   LOGIN PAGE   ********/
/*******************************/

body {
    height:100vh;
    margin:0;
    display: flex;
    flex-direction: column;
}

body.login-page {
    background-image: url("../img/login_registration_background.jpg");
    background-size: cover;
}

body.login-page .login-form {
    background: #d6e9d1;
}

body.login-page .login-form input.btn {
    background: #8cc3ff;
}

body.login-page .login-form input.btn:hover {
    background: dodgerblue;
}

body.login-page .sign-up-link {
    text-decoration: none;
    font-weight: bold;
    color: cornflowerblue;
    font-style: italic;
}

/*******   REGISTRATION PAGE   ********/
/**************************************/

body.registration-page {
    background-image: url("../img/login_registration_background.jpg");
    background-size: cover;
}

body.registration-page .registration-form {
    background: #d6e9d1;
}

body.registration-page .registration-form input.btn {
    background: #8cc3ff;
}

body.registration-page .registration-form input.btn:hover {
    background: dodgerblue;
}

body.registration-page .login-link {
    text-decoration: none;
    font-weight: bold;
    color: cornflowerblue;
    font-style: italic;
}


/*******   CREATE COURSE INFO PAGE   *******/
/*******************************************/

body.create-course-page {
    background-image: url("../img/create_course_background.jpg");
    background-size: cover;
}


/*********   CREATE MATERIALS PAGE  ********/
/*******************************************/

body.create-material-page {
    background-image: url("../img/create_course_background.jpg");
    background-size: cover;
}


/********   CREATE QUESTIONS PAGE   ********/
/*******************************************/

body.create-question-page {
    background-image: url("../img/create_course_background.jpg");
    background-size: cover;
}

body.create-question-page .create-question-div {
    background: #cbc99d;
}

button.create-course-button {
    background: limegreen;
}

button.create-course-button:hover {
    background: darkgreen;
    color: white;
    border-color: black;
}

/**********   HEADER   *********/
/*******************************/

header {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    background: #221921;
}

header .tab a {
    background: #f5f5f5;
    display: inline-block;
    color: #221921;
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid #221921;
}

header .tab a:hover {
    background: dodgerblue;
}

div.login-or-logout-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid black;
    background: cadetblue;
}

div.login-or-logout-wrapper:hover {
    background: dodgerblue;
}

div.login-or-logout-wrapper a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

div.balance-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background: cadetblue;
}

div.balance-wrapper .balance {
    padding: 10px;
    border: 1px solid black;
}


header .replenishBalanceButton {
    font-weight: bold;
    background: limegreen;
    border: 1px solid black;
    width: 45px;
}

header .replenishBalanceButton:hover {
    font-weight: bold;
    background: darkgreen;
}

header .replenishForm {
    display: none;
    position: fixed;
    top: 0;
    left: 40%;
    background: white;
    padding: 30px;
    border-radius: 5px;
    border: 2px solid black;
}

header .replenishForm .ok-button {
    background: limegreen;
}

header .replenishForm .ok-button:hover {
    background: darkgreen;
}

header .replenishForm .cancel-button {
    background: #ff6740;
}

header .replenishForm .cancel-button:hover {
    background: red;
}

/*********   FOOTER   **********/
/*******************************/

footer.page-footer {
    background: #221921;
    height: 6.8vh;
    padding-top: 1.6vh;
    padding-bottom: 1.6vh;
    margin-top: auto;
}

footer.page-footer a {
    text-decoration: none;
    font-weight: bold;
    color: navajowhite;
}

footer .footer-copyright {
    color: #198754;
}


/*******   CHANGE LANGUAGE BUTTON   ********/
/*******************************************/

button.language-button {
    width: 30%;
    background: #8cc3ff;
}

button.language-button:hover {
    background: dodgerblue;
}

/***********   CATALOG PAGE   **************/
/*******************************************/

body.catalog-page {
    background-image: url("../img/create_course_background.jpg");
    background-size: cover;
}

body.catalog-page .catalog-field {
    background: #e5d5b9 ;
}

body.catalog-page .course-name {
    background: #e1bb76;
}

/***********   DETAILS PAGE   **************/
/*******************************************/

body.details-page {
    background: url("../img/details_background.jpg");
    background-size: cover;
}

body.details-page .catalog-field {
    background: #e5d5b9 ;
}

body.details-page .course-name {
    background: #e1bb76;
}

body.details-page .buy-button {
    background: #97df29;
}

body.details-page .buy-button:hover {
    background: limegreen;
}


/*********   USERS PAGE   **********/
/***********************************/

.block-button {
    background: limegreen !important;
}

.block-button:hover {
    background: #f53636 !important;
}

.unblock-button {
    background: #f53636 !important;
}

.unblock-button:hover {
    background: limegreen !important;
}

.user-field {
    background: #ede1f3;
    font-weight: bold;
}


/*********   LEARNING PAGE   **********/
/**************************************/

.material-wrapper {
    background: wheat;
    border: 2px solid black;
    border-radius: 5px;
}

.question-answer-form {
    background: #f3d6ff;
    border: 2px solid black;
    border-radius: 5px;
}

.question-answer-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mark-wrapper {
    color: #198754;
    font-size: 22px;
    font-weight: bold;
}

.isfFinished {

}


@media only screen and (max-width: 900px) {
    /*    HEADER      */
    header .tab a {
        padding: 10px 10px;
    }
}