/*******   GENERAL STYLE   ********/
/*******************************/
button.btn {
    background: #8cc3ff;
}

button.btn:hover {
    background: dodgerblue;
}

button.delete-button {
    background: #ff4646;
}

button.delete-button:hover {
    background: red;
}

.error-message {
    color: red;
    font-weight: bold;
}

a.previous-page {
    background: #8cc3ff;
}

a.previous-page:hover {
    background: dodgerblue;
}

/*******   LOGIN PAGE   ********/
/*******************************/

body {
    height:100vh;
    margin:0;
    display: flex;
    flex-direction: column;
}

body.login-page {
    background-image: url("../img/login_registration_background.jpg");
    background-size: cover;
}

body.login-page .login-form {
    background: #d6e9d1;
}

body.login-page .login-form input.btn {
    background: #8cc3ff;
}

body.login-page .login-form input.btn:hover {
    background: dodgerblue;
}

body.login-page .sign-up-link {
    text-decoration: none;
    font-weight: bold;
    color: cornflowerblue;
    font-style: italic;
}

/*******   REGISTRATION PAGE   ********/
/**************************************/

body.registration-page {
    background-image: url("../img/login_registration_background.jpg");
    background-size: cover;
}

body.registration-page .registration-form {
    background: #d6e9d1;
}

body.registration-page .registration-form input.btn {
    background: #8cc3ff;
}

body.registration-page .registration-form input.btn:hover {
    background: dodgerblue;
}

body.registration-page .login-link {
    text-decoration: none;
    font-weight: bold;
    color: cornflowerblue;
    font-style: italic;
}


/*******   CREATE COURSE INFO PAGE   *******/
/*******************************************/

body.create-course-page {
    background-image: url("../img/create_course_background.jpg");
    background-size: cover;
}


/*********   CREATE MATERIALS PAGE  ********/
/*******************************************/

body.create-material-page {
    background-image: url("../img/create_course_background.jpg");
    background-size: cover;
}


/********   CREATE QUESTIONS PAGE   ********/
/*******************************************/

body.create-question-page {
    background-image: url("../img/create_course_background.jpg");
    background-size: cover;
}

body.create-question-page .create-question-div {
    background: #cbc99d;
}

button.create-course-button {
    background: limegreen;
}

button.create-course-button:hover {
    background: darkgreen;
    color: white;
    border-color: black;
}

/**********   HEADER   *********/
/*******************************/

header {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    background: #221921;
}

header .tab a {
    background: #f5f5f5;
    display: inline-block;
    color: #221921;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #221921;
}

header .tab a:hover {
    background: dodgerblue;
}

div.login-or-logout-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid black;
    background: cadetblue;
}

div.login-or-logout-wrapper:hover {
    background: dodgerblue;
}

div.login-or-logout-wrapper a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

/*********   FOOTER   **********/
/*******************************/

footer.page-footer {
    background: #221921;
    height: 6.8vh;
    padding-top: 1.6vh;
    padding-bottom: 1.6vh;
    margin-top: auto;
}

footer.page-footer a {
    text-decoration: none;
    font-weight: bold;
    color: navajowhite;
}

footer .footer-copyright {
    color: #198754;
}


/*******   CHANGE LANGUAGE BUTTON   ********/
/*******************************************/

button.language-button {
    width: 30%;
    background: #8cc3ff;
}

button.language-button:hover {
    background: dodgerblue;
}

/*******   CATALOG PAGE   ********/
/*******************************************/

body.catalog-page {
    background-image: url("../img/create_course_background.jpg");
    background-size: cover;
}

body.catalog-page .catalog-field {
    background: #e5d5b9 ;
}

body.catalog-page .course-name {
    background: #e1bb76;
}
